<section>
    <div>
        <span></span>
        <h1>Resumo</h1>
        <div>
            <p ng-repeat="paragrafo in resumo">{{ paragrafo }}</p>
        </div>
    </div>
</section>
<section>
    <div>
        <h1>Habilidades</h1>
        <div>
            <p>
                <ul ng-repeat="habilidade in habilidades">
                    <li><b>{{ habilidade.linguagem }}</b> - {{ habilidade.plataforma }};</li>
                </ul>
            </p>
        </div>
    </div>
</section>
<section>
    <div>
        <h1>Experiência</h1>
        <div>
            <p ng-repeat="exp in experiencia">{{ exp }}</p>
        </div>
    </div>
</section>
<section>
    <div>
        <h1>Solicitação de Orçamento</h1>
        <div>
            <form>
                <label>Título: </label><input type="text" name="titulo" ng-model="orcamento.titulo"><br>
                <label>Contatos: </label><input type="text" name="contatos" ng-model="orcamento.contato"><br>
                <label>Descrição: </label><input type="text" name="descricao" ng-model="orcamento.descricao">
                <br><br>
                <button ng-click="solicitarOrcamento(orcamento)">Solicitar</button>
            </form>
        </div>
    </div>
</section>
<section>
    <div>
        <h1>Orçamentos</h1>
        <div>
            <ul>
                <li ng-repeat="orcamento in orcamentos">
                    <span>{{ orcamento.titulo }}</span>
                    <span>{{ orcamento.contato }}</span>
                    <span>{{ orcamento.descricao }}</span>
                </li>
            </ul>

        </div>
    </div>
</section>
